<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">La Team Envol
                   <small>Vous souhaite la bienvenue !</small>
               </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Le Bureau</h2>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/president.png" alt="">
            <h3>Hervé
                   <small>Président</small>
               </h3>
            <p>Ami de Mike</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/sylvie.png" alt="">
            <h3>Sylvie
                   <small>Trésorière</small>
               </h3>
            <p>Maman de gymnaste</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/amandine.png" alt="">
            <h3>Amandine
                   <small>Secrétaire</small>
               </h3>
            <p>Gymnaste</p>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/mike.png" alt="">
            <h3>Mike
                   <small>Assesseur</small>
               </h3>
            <p>Papa de gymnaste</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Les Salariés</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/amalia.png" alt="">
            <h3>Amalia
                   <small>Professeur de Pilates</small>
               </h3>
            <p>Diplômes anglais</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/sif.png" alt="">
            <h3>Sif
                   <small>Educateur sportif</Educ></small>
               </h3>
            <p>(BPJEPS)</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/alison.png" alt="">
            <h3>Alison
                   <small>Prof de Gym/Fitness</small>
               </h3>
            <p>Licence STAPS, BPJEPS, AGFF, BF1 et 2, GAF</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Bénévoles Encadrants</h2>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/aurore.png" alt="">
            <h3>Aurore
               </h3>

        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/lena.png" alt="">
            <h3>Lena
               </h3>

        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/Myriyanna.png" alt="">
            <h3>Myriyanna

               </h3>

        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/tina.png" alt="">
            <h3>Tina

               </h3>

        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/makeda.png" alt="">
            <h3>Makeda

               </h3>

        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/keila.png" alt="">
            <h3>Keila

               </h3>

        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" src="/img/organi/Irina.JPG" alt="">
            <h3>Irina

               </h3>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Nous vous attendons avec impatience ^^

               </h1>
        </div>
    </div>

</div>
