<section class="planning">
  <div class="container">

    <img alt="" src="img/pilates.jpg" />

        <div class="row">

            <div class="col-lg-6">
                <a href ng-click="$ctrl.planning='gojunior'" data-toggle="planning" class="boutonpla  btn-lg">Planning Junior</a>

            </div>
            <div class="col-lg-6">
                <a href ng-click="$ctrl.planning='goadult'" data-toggle="planning" class="boutonpla btn-lg">Planning Adulte</a>

            </div>
          </div>
              <div class="row">
            <div class="col-lg-12">
              <h2 ng-if="$ctrl.planning==='gojunior'" class="planning"> Planning Junior </h2>
              <img ng-src="img/planning-junior.png" class="img-responsive img-thumbnail" ng-if="$ctrl.planning==='gojunior'">
            </div>
          </div>
          <div class="row">
        <div class="col-lg-12">
          <h2 ng-if="$ctrl.planning==='goadult'" class="planning"> Planning Adulte </h2>
          <img ng-src="/img/planning-adulte.png" class="img-responsive img-thumbnail" ng-if="$ctrl.planning==='goadult'">
        </div>
      </div>

        </div>


</section>
