<div class="text-center card">
<div id=contactform>
  <p id="textcontact">Si vous souhaitez recevoir nos tarifs ou pour tout autre renseignement, n’hésitez pas à nous écrire.</p>
</br>
    <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">NOM</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Colick">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">PRENOM</label>
        <input type="text" class="form-control" id="exampleInputSurname2" placeholder="Al">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">E-MAIL</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="alcolick@gmail.com">
      </div>
    </form>
    &nbsp
    &nbsp
    <form>
      <div class="form-group">
        <label for="textarea1">COMMENTAIRE</label>
        <textarea class="form-control" rows="3" id="textarea1" placeholder="Votre message..."></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Joindre un fichier</label>
        <input type="file" id="exampleInputFile">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Je confirme que je ne suis pas un robot
        </label>
      </div>
      <button type="submit" class="btn btn-default">Soumettre</button>
    </br>
    </form>
</div>
</div>
