/***
====================================================================
	Tweets Scroller Style
====================================================================

***/


.tweets-scroller{
	position:relative;
	min-height:440px;
	padding-left:440px;
	/*margin-bottom: -50px !important;*/
}

.tweets-scroller .tweets-slider-container{
	position:absolute;
	left:136px;
	top:139px;
	width:490px;
	height:440px;
	/*background:#10bcf4;*/
	background:#bc5e43;
	/*background:#ebebeb;*/
	text-align:center;
	padding:80px 0px 0px 50px;
	color:#ffffff;
	z-index:11;
}

.tweets-scroller .tweets-slider-container:after{
	content:'';
	position:absolute;
	left:100%;
	top:0px;
	width: 0;
	height: 0;
	/*border-top: 440px solid #10bcf4;*/
	border-top: 440px solid #bc5e43;
	/*border-top: 440px solid transparent;*/
	/*border-top: 440px solid #ebebeb;*/
	/*border-right: 80px solid transparent;*/
	border-right: 178px solid transparent;
	z-index:1;


}

.tweets-scroller .tweets-slider .slide-item .icon{
	position:relative;
	display:inline-block;
	margin-bottom:60px;
	font-size:26px;
	color:#ffffff;
}

.tweets-scroller .tweets-slider .slide-item .text{
	position:relative;
	margin-bottom:50px;
	font-size:15px;
	line-height:2em;
}

.tweets-scroller .tweets-slider .slide-item .tweet-author{
	position:relative;
	font-size:13px;
	color:#8ce1fd;
}

.tweets-scroller .image-scroller-container{
	position:relative;
	margin-left:490px;
	z-index:10;
}

.tweets-scroller .image-scroller-container .bx-viewport{
	overflow:visible;
}

.tweets-scroller .image-scroller-container .slide-item{

	margin-left:-180px;
	width:900px;
	height:439px;
}

.tweets-scroller .image-scroller-container .slide-item .image{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;

}
