<mininavbar edit-mode="$ctrl.editMode" ng-model="$ctrl.page"></mininavbar>
<section class="inscription">


    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 modalite">

              <center><img class="img-responsive" alt="" src="img/pilates.jpg" /></center>
              <!-- Quels sont les modalités pour s'inscrire ?-->
                <h1 style="text-align:center;" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.title">{{$ctrl.page.content.title}}</h1>
              </br>

                <ul>
                    <li><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li1">{{$ctrl.page.content.li1}}</span></li>

                    <li><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li2">{{$ctrl.page.content.li2}}</span></li>

                    <li><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li3">{{$ctrl.page.content.li3}}</span></li>

                    <li><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li4">{{$ctrl.page.content.li4}}</span></li>

                    <li><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li5">{{$ctrl.page.content.li5}}</span></li>

                </ul>


            </div>

        </div>
        <div class="telechargement">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-3" style="  margin-bottom: 4%;
                  margin-top: 2%;">
                    <img src="/img/inscription-tarif/telechargement_icon.png" />
                    <a href="/img/inscription-tarif/Ficheinscription16-17.pdf">Cliquez ici pour télécharger la fiche d'inscription</a>

                </div>
            </div>
        </div>

        <!-- tarif -->

        <div class="container tariff group fond">
            <div class="row">

                <div class="col-lg-3 tarif carre1">
                    <h3 class="tarif" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.formule1">{{$ctrl.page.content.formule1}}></h3>

                    <h2 class="tarif" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.pilates">{{$ctrl.page.content.pilates}}></h2>
                    <h3 class="tarif"><span class="uppercase" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.licence1">{{$ctrl.page.content.licence1}}></span></h3>
                      <p class="tarif"><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.cours1">{{$ctrl.page.content.cours1}}></span></p>

                </div>

                <div class="col-lg-3 tarif">
                    <h3 class="tarif" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.numero2">{{$ctrl.page.content.numero2}}></span></h3>
                    <h2 class="tarif" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.fitness">{{$ctrl.page.content.fitness}}></span></h2>
                    <h3 class="tarif"><span class="uppercase" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.licence2">{{$ctrl.page.content.licence2}}></span></h3>
  <p class="tarif"><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.cours2">{{$ctrl.page.content.cours2}}></span></p>

                </div>

                <div class="col-lg-3 tarif">
                      <h3 class="tarif" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.numero3">{{$ctrl.page.content.numero3}}></span></h3>
                    <h2 class="tarif" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.senior">{{$ctrl.page.content.senior}}></span></h2>
                    <h3 class="tarif"><span class="uppercase" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.licence3">{{$ctrl.page.content.licence3}}></span></h3>
  <p class="tarif"><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.cours3">{{$ctrl.page.content.cours3}}></span></p>

                </div>




                <div class="col-lg-3 tarif">
    <h3 class="tarif"> <span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.numero4">{{$ctrl.page.content.numero4}}></span></h3>
                      <h2 class="tarif" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.passenvol">{{$ctrl.page.content.passenvol}}></span></h2>
                    <h3 class="tarif" class="uppercase" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.licence4">{{$ctrl.page.content.licence4}}></span></h3>
<p class="tarif"><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.cours4">{{$ctrl.page.content.cours4}}></span></p>

                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 tarif carre2" >
                    <h2 class="tarif" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.ecoledegym">{{$ctrl.page.content.ecoledegym}}></span></h2>
                  <h3 class="tarif" class="uppercase" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.licence5">{{$ctrl.page.content.licence5}}></span></h3>
                  <p class="tarif"><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.cours5">{{$ctrl.page.content.cours5}}></span></p>




                </div>

                <div class="col-lg-3 tarif">
<h2 class="tarif" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.gymcomp">{{$ctrl.page.content.gymcomp}}></span></h2>
  <h3 class="tarif" class="uppercase" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.licence6">{{$ctrl.page.content.licence6}}></span></h3>
          <p class="tarif"><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.cours6">{{$ctrl.page.content.cours6}}></span></p>


                </div>

                <div class="col-lg-3 tarif">
<h2 class="tarif"><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.gymdespetits">{{$ctrl.page.content.gymdespetits}}></span></h2>
                    <h3 class="tarif"><span class="uppercase" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.licence7">{{$ctrl.page.content.licence7}}></span></h3>
                    <p class="tarif"><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.cours7">{{$ctrl.page.content.cours7}}></span></p>

                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 backbuttonner butinscription">

                    <a href="img/inscription-tarif/Ficheinscription16-17.pdf" class="ainscription"><center> Inscription </center></a>
                </div>
                <div class="col-md-8 backbuttonner butplanning">
                    <a href="http://localhost:8000/#!/planning" class="ainscription"><center> Voir le planning </center></a>
                </div>
            </div>

            </div>
            <div class="telechargement">
                <div class="row">
                  <div class="col-lg-8 col-lg-offset-3" style="  margin-bottom: 4%;
                    margin-top: 2%;  margin-left: 21%;">
            <img src="/img/inscription-tarif/telechargement_icon.png" />
            <a href="/img/tariflicence.pdf" class="inscription"> Retrouver toutes les informations sur les tarifs des licences</a>

                    </div>
                </div>
            </div>




        </div>


</section>
