<section>

    <img alt="" src="img/pilates.jpg" />
    <div class="container">
        <div class="row">

          <div class="col-lg-12">
          <h1> Fiche d'inscription </h1>

                    <img alt="fiche-inscription-envol-aquitaine" src="/img/inscription-tarif/fiche-inscription.jpg" />
</div>

</div>
    <div class="row">
          <div class="col-lg-12">
          <img src="/img/inscription-tarif/telechargement_icon.png" />
           <a href="inscription/Ficheinscription16-17.pdf">Cliquez ici pour le PDF</a>

         </div>
       </div>

</section>
