<section>

    <img alt="" src="img/pilates.jpg" />
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h1> Fiche d'inscription </h1>

                <img alt="fiche-inscription-envol-aquitaine" src="/img/inscription-tarif/fiche-inscription.jpg" />
            </div>

        </div>
        <div class="telechargement">
            <div class="row">
                <div class="col-lg-12">
                    <img src="/img/inscription-tarif/telechargement_icon.png" />
                    <a href="/img/inscription-tarif/Ficheinscription16-17.pdf">Cliquez ici pour télécharger la fiche d'inscription</a>

                </div>
            </div>
        </div>

        <!-- tarif -->

        <div class="container tariff group fond">
            <div class="grid-1-5">
                <h2 class="tarif">Ecole de Gym </br> Ado</h2>
                <h3 class="tarif"><span class="uppercase">160 € + licence</span></h3>
                <ul class="tarif">
                    <li class="jour">Mercredi</li>
                    <li class="jour">13h30 - 15h00</li>
                </ul>
                <h2 class="tarif">Ecole de Gym </br> Primaire</h2>
                <h3 class="tarif"><span class="uppercase">160 € + licence</span></h3>
                <ul class="tarif">
                    <li class="jour">Mercredi</li>
                    <li class="jour">15h00 - 16h30</li>
                </ul>
                <h2 class="tarif">Ecole de Gym </br> Mixte </h2>
                <h3 class="tarif"><span class="uppercase">160 € + licence</span></h3>
                <ul class="tarif">
                    <li class="jour">Samedi</li>
                    <li>09h30 - 11h00</li>
                </ul>
                <a href="img/inscription-tarif/Ficheinscription16-17.pdf" class="buttonner">Sign Up</a>
            </div>
            <div class="grid-1-5">
                <h2 class="tarif">Gymnastique</br> Compétition</h2>
                <h3 class="tarif"><span class="uppercase">210 € + licence</span></h3>
                <ul class="tarif">
                    <li class="jour">Débutantes</li>
                    <li class="jour">Mercredi</li>
                    <li class="jour">16h30 - 18h30</li>
                </ul>
                <ul class="tarif">
                    <li class="jour">Confirmées</li>
                    <li class="jour">Mercredi</li>
                    <li class="jour">18h30 - 20h30</li>
                </ul>
                <h3 class="tarif"> Et au moins une autre scéance</h3>
                <ul class="tarif">
                    <li class="jour">Lundi</li>
                    <li>17h30 - 19h30</li>
                </ul>
                <ul class="tarif">
                    <li class="jour">Jeudi</li>
                    <li>17h30 - 19h30</li>
                </ul>
                <ul class="tarif">
                    <li class="jour">Vendredi</li>
                    <li>17h30 - 19h30</li>
                </ul>
                <a href="img/inscription-tarif/Ficheinscription16-17.pdf" class="buttonner">Sign Up</a>
            </div>
        <div class="grid-1-5">
            <h2 class="tarif">Gym des Petits</h2>
            <h3 class="tarif"><span class="uppercase">145 € + licence</span></h3>
            <ul class="tarif">
                <li class="jour">Samedi</li>
                <li class="jour">11h00 - 12h00</li>
            </ul>
            <a href="img/inscription-tarif/Ficheinscription16-17.pdf" class="buttonner">Sign Up</a>
        </div>
        <div class="grid-1-5">
            <h2 class="tarif">Menu 1 </br> Pilates</h2>
            <h3 class="tarif"><span class="uppercase">200 € + licence</span></h3>
            <ul class="tarif">
                <li class="jour">Lundi</li>
                <li class="jour">19h30 - 20h45</li>
                <li class="jour">20h45 - 22h00</li>
            </ul>
            <ul class="tarif">
                <li class="jour">Jeudi</li>
                <li class="jour">19h30 - 20h45</li>
                <li class="jour">20h45 - 22h00</li>
            </ul>
            <a href="img/inscription-tarif/Ficheinscription16-17.pdf" class="buttonner">Sign Up</a>
        </div>
        <div class="grid-1-5">
            <h2 class="tarif">Menu 2 </br> Fitness</h2>
            <h3 class="tarif"><span class="uppercase">180 € + licence</span></h3>
            <ul class="tarif">
                <li class="jour">Mardi</li>
                <li class="jour">abdo fessier renforcement musculaire</li>
                <li class="jour">19h15 - 20h30</li>
                <li class="jour">cardio fitness</li>
                <li class="jour">20h30 - 21h30</li>
            </ul>
            <ul class="tarif">
                <li class="jour">Mercredi</li>
                <li class="jour">circuit training</li>
                <li class="jour">20h30 - 21h45</li>
            </ul>
            <ul class="tarif">
                <li class="jour">Vendredi</li>
                <li class="jour">cabdo fessier renforcement musculaire</li>
                <li class="jour">19h30 - 20h30</li>
            </ul>
            <a href="img/inscription-tarif/Ficheinscription16-17.pdf" class="buttonner">Sign Up</a>
        </div>
        <div class="grid-1-5bas" style="margin-left: 25%;">
            <h2 class="tarif">Menu 3 </br> Seniors</h2>
            <h3 class="tarif"><span class="uppercase">110 € + licence</span></h3>
            <ul class="tarif">
                <li class="jour">Mercredi</li>
                <li class="jour">10h00 - 11h00</li>
            </ul>
            <a href="img/inscription-tarif/Ficheinscription16-17.pdf" class="buttonner">Sign Up</a>
        </div>
        <div class="grid-1-5bas">
            <h2 class="tarif">Pass Envol</h2>
            <h3 class="tarif"><span class="uppercase">230 € + licence</span></h3>
            <p class="tarif"> Permet d'accèder aux 3 menus </p>
            <a href="img/inscription-tarif/tariflicence.pdf" class="buttonner">Sign Up</a>
        </div>
      </div>


      <div class="telechargement">
          <div class="row">
              <div class="col-lg-12">
                  <img src="/img/inscription-tarif/telechargement_icon.png" />
                  <a href="/img/inscription-tarif/Ficheinscription16-17.pdf">Cliquez ici pour télécharger la fiche d'inscription</a>

              </div>
          </div>
      </div>


    </div>


</section>
