<style>
    ul.social-icons li a {
        border: 1px solid rgba(0, 0, 0, 0.03);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        display: block;
        width: 36px;
        height: 36px;
        text-indent: -9999px;
        background-position: 0px -55px;
        background-repeat: no-repeat;
        padding-bottom: 1px;
        opacity: 1;
        background-color: #378582;
    }

    [class^="social-"] a,
    [class*=" social-"] a {
        background-position: 8px -31px !important;
        background-repeat: no-repeat;
    }

    ul.social-icons {
        list-style: none;
        margin: 40px 0px 30px 0;
        position: absolute;
        padding-left: 0px;
    }

    .social-facebook a {
        background: url(/img/facebook.png);
    }
    .social-facebook a:hover {
    background-color: #f23232 !important;
    }
</style>




<div class="text-center">
    <ul class="social-icons pull-right col-lg-push-10 hidden-xs">
        <li class="social-facebook">
            <a href="https://fr-fr.facebook.com/envoldaquitaine/" target="_blank" title="" data-original-title="Facebook"></a>
        </li>
    </ul>
    <img src="img/banniere/banniere.jpg" alt="" class="img-responsive" />

</div>
