
<section class="tweets-scroller">

    <div class="tweets-slider-container">

    <!-- ***** DESCRIPTION / HISTORIQUE ***** -->                      
    <p style="color:white-space;text-align:left;margin-top:0px;font-size:15px;margin-top:-68px">
        <span style="color:black;padding-top:0px;font-size:25px"><strong>Présentation</strong> </span> <br>
        Lorem ipsum dolor sit amet, fdconsedctetur adipisicing elit,<br>
        sed do eiusmod temdhfdpor incididunt ut labfhre et dolore<br>
        aliqua. Ut enim ad misdnim veniam, quis nossdhtrud exerci<br>
        ullahco labodfhgris nisi ut aghquip ex ea coodo consequat.<br><br>
    </p>

    <p style="color:white-space;text-align:left;margin-top:0px;font-size:15px;margin-top:-20px">
        <span style="color:black;font-size:25px"><strong>Un peu d'histoire</strong> </span><br>
        Quam ob rem circumspecta cautela observum est deinceps <br>
        et cum edita montddium petere cffoepeint grasatores, locip <br>
        iniquitati milites cedunt. ubi autem in planitie potueri <br><br>
        reperiri, quod contigit adsidue, nec exsertare lacertos <br>
        nec crispare permissi tela, quae vehunt bina vel terna,  <br>
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br><br>
        ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
        Duis aute irure dolor in reprehenderit in voluptate velit<br>
        esse cillum dolore eu fugiat nulla pariatur.
    </p>

        <!-- ***** SLIDER / CAROUSEL ***** -->                      
    <div class="image-scroller-container">
        <ul class="image-scroller">
            <li class="slide-item"><span class="image" style="background-image:url(img/slider-img/scroller-image-4.png);"></span></li>
            <li class="slide-item"><span class="image" style="background-image:url(img/slider-img/scroller-image-5.png);"></span></li>
            <li class="slide-item"><span class="image" style="background-image:url(img/slider-img/scroller-image-6.png);"></span></li>
            <!--<li class="slide-item"><span class="image" style="background-image:url(assets/img/imgbxslider/scroller-image-5.png);"></span></li>-->
            <!--<li class="slide-item"><span class="image" style="background-image:url(assets/img/imgbxslider/scroller-image-6.png);"></span></li>-->
        </ul>
    </div>
        
    </div> <!-- /div tweets-slider-container -->
</section>

