<div class="text-center">
<div class="container">
    <div id="carousel-example-1" class="carousel slide alternative" data-ride="carousel" style="background-image: url(/img/backfoot3.jpg);height: 110px;padding-top: 5px;">
        <!-- Indicators
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
        </ol>-->
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="slide col-md-4"><img src="/img/ufolep.jpg"></div>
                    <div class="slide col-md-4"><img src="/img/pass.jpg"></div>
                    <div class="slide col-md-4"><img src="/img/mairie.jpg"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="slide col-md-4"><img src="/img/footerimg/region.jpg"></div>
                    <div class="slide col-md-4"><img src="/img/footerimg/sptous.jpg"></div>
                    <div class="slide col-md-4"><img src="/img/footerimg/ministere.jpg"></div>
                </div>
            </div>
        </div>
        <!-- Controls
        <a class="left carousel-control" href="#carousel-example-2" data-slide="prev"> <span class="fa fa-chevron-circle-left" style="margin-top: 1em"></span> </a>
        <a class="right carousel-control" href="#carousel-example-2" data-slide="next"> <span class="fa fa-chevron-circle-right"></span> </a>
        -->
    </div>


</div>
</div>
