<div class="container">
    <div id="carousel-example-1" class="carousel slide alternative" data-ride="carousel">
        <!-- Indicators
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
        </ol>-->
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">
                    <div class="slide col-md-4"><img src="/img/logoufolep.jpg"></div>
                    <div class="slide col-md-4"><img src="/img/pass_senior_1.jpg"></div>
                    <div class="slide col-md-4"><img src="/img/mairie1.jpg"></div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="slide col-md-4"><img src="/img/region.jpg"></div>
                    <div class="slide col-md-4"><img src="/img/sptous.jpg"></div>
                    <div class="slide col-md-4"><img src="/img/ministere.jpg"></div>
                </div>
            </div>
        </div>
        <!-- Controls
        <a class="left carousel-control" href="#carousel-example-2" data-slide="prev"> <span class="fa fa-chevron-circle-left" style="margin-top: 1em"></span> </a>
        <a class="right carousel-control" href="#carousel-example-2" data-slide="next"> <span class="fa fa-chevron-circle-right"></span> </a>
        -->
    </div>


</div>
