<div class="text-center">
    <div class="container">
        <div id="carousel-example-1" class="carousel slide alternative" data-ride="carousel" style="background-image: url(/img/back-footer.jpg);height: 110px;padding-top: 5px;">
            <!-- Indicators
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
        </ol>-->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="slide col-md-4">
                            <a href="http://www.ufolep.org/"><img src="/img/footerimg/ufolep.jpg"></a>
                        </div>
                        <div class="slide col-md-4">
                            <a href="http://www.bordeaux.fr/p80371/pass-senior"><img src="/img/footerimg/pass.jpg"></a>
                        </div>
                        <div class="slide col-md-4">
                            <a href="http://www.bordeaux.fr/"><img src="/img/footerimg/mairie.jpg"></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="slide col-md-4">
                            <a href="http://www.gironde.fr/jcms/j_6/accueil"><img src="/img/footerimg/conseil-general.jpg"></a>
                        </div>
                        <div class="slide col-md-4">
                            <a href="http://www.sportspourtous.org/"><img src="/img/footerimg/sptous.jpg"></a>
                        </div>
                        <div class="slide col-md-4">
                            <a href="http://nouvelle-aquitaine.drdjscs.gouv.fr/spip.php?rubrique50"><img src="/img/footerimg/Logo-CNDS.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:8px">
                <div class="col-sm-3 col-sm-offset-2" style="color: white;"> contact : envol.d.aquitaine@gmail.com </div>
                <div class="col-sm-3 col-sm-offset-1" style="color: white;"> Site développé par la Wild Code School </div>

            </div>
            <!-- Controls
        <a class="left carousel-control" href="#carousel-example-2" data-slide="prev"> <span class="fa fa-chevron-circle-left" style="margin-top: 1em"></span> </a>
        <a class="right carousel-control" href="#carousel-example-2" data-slide="next"> <span class="fa fa-chevron-circle-right"></span> </a>
        -->
        </div>


    </div>
</div>
