<div class="card" id="blogbox">

    <h4 class="text-center">Actualités Blog <img src="img/tennis_actusblog.png" class="img-responsive" alt=""/></h4>
    <div class="row" ng-repeat="post in $ctrl.posts | limitTo: 3">
        <div class="col-md-3 text-center">
            <h1>{{post.createdAt | date:'dd'}}</h1>
            <h3>{{post.createdAt | date:'MM'}}</h3>
        </div>
        <div class="col-md-9">
            <h5>{{post.title}}</h5>
            <div ng-bind-html="post.content"></div>
            <hr>
            <a ui-sref="app.blog">Lire la suite</a>
        </div>
    </div>

</div>
