<div class="text-center card">

    <h4><img src="img/corde_actusbf.png" class="img-responsive" alt=""/>Actualités Facebook</h4>
    <p><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fenvoldaquitaine%2F%3Ffref%3Dts&tabs=timeline&width=549&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="530" height="500" style="border:none;overflow:hidden;margin-left:20px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>
</div>
