
<!--<div style="background-image: url(/img/backprez3.jpg); background-repeat: repeat-x;">-->
    <!--<div style="background-color:#F63233">-->

    <!--<div style="background-color:#821313">-->
    <div style="background-color:#F85A59;margin-bottom:-12px">

    <!--<div style="background-image:url('img/fond-contactpage.jpg')">-->
        <div style="min-height:432px">
            <div class="col-lg-5 prez-container">
                <h4 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.title">{{$ctrl.ngModel.title}}</h4>
                <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.paragraph">{{$ctrl.ngModel.paragraph}}</p>

                <!-- <p>
                    Eiusmod cupidatat ea sit ex pariatur pariatur amet esse duis. Eiusmod cupidatat ea sit ex pariatur pariatur amet esse duis.
                </p>
                <p>
                    Eiusmod cupidatat ea sit ex pariatur pariatur amet esse duis. Eiusmod cupidatat ea sit ex pariatur pariatur amet esse duis.
                </p>
                <p>
                    Eiusmod cupidatat ea sit ex pariatur pariatur amet esse duis. Eiusmod cupidatat ea sit ex pariatur pariatur amet esse duis. Eiusmod cupidatat ea sit ex pariatur pariatur amet esse duis.
                </p>
                <p>
                    Eiusmod cupidatat ea sit ex pariatur pariatur amet esse duis. Eiusmod cupidatat ea sit ex pariatur pariatur amet esse duis.
                </p> -->

            </div>
            <!-- /col-lg-5 -->

            <div class="col-lg-7">
                <div id="slider"  id="slider-k" class="frame-k">

                    <figure>
                        <img class="first" src="img/carousel/5-b.png" alt>
                        <img src="img/carousel/4-b.png" alt>
                        <img src="img/carousel/3-b.png" alt>
                        <img src="img/carousel/7-b.png" alt>
                        <img src="img/carousel/9-b.png" alt>
                    </figure>
                </div>
            </div>
            <!-- /col-lg-7 -->
        </div>
        <!-- /card -->


    </div>
