<!--<div style="background-image: url(/img/backprez3.jpg); background-repeat: repeat-x;">-->
<!--<div style="background-color:#F63233">-->

<!--<div style="background-color:#821313">-->

<mininavbar edit-mode="$ctrl.editMode" ng-model="$ctrl.page"></mininavbar>
<div style="background-color:#F85A59;margin-bottom:-12px">


    <div style="min-height:432px">
        <div class="col-lg-4 prez-container">
            <h4 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.title">{{$ctrl.ngModel.title}}</h4>
            <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.paragraph">{{$ctrl.ngModel.paragraph}}</p>
        </div>


        <div class="col-lg-8" style="padding-right: 18px">
            <div id="slider" id="slider-k" class="frame-k">

                <figure>
                    <img style="margin-right:-153px" src="img/carousel/3-b.png" alt>
                    <img style="margin-right:-153px" src="img/carousel/4-b.png" alt>
                    <img style="margin-right:-153px" src="img/carousel/5-b.png" alt>
                    <img style="margin-right:-153px" src="img/carousel/7-b.png" alt>
                    <img style="margin-right:-153px" src="img/carousel/10-b.png" alt>
                    <img style="margin-right:-153px" src="img/carousel/9-retouche.png" alt>
                </figure>
            </div>
        </div>

    </div>
</div>
