<div class="text-center card">

    <section>
        <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner row" style="width: 1134px;margin-left: 13px;">
                        <ul class="nav nav-tabs" id="myTab">
                            <div class="liner"></div>
                            <li class="active col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1">
                                <a ng-click="tabo='pilates'" data-toggle="tab" title="">
                                    <figcaption class="Legende">PILATES</figcaption>
                                    <span class="round-tabs one">
                                          <!-- <i class="glyphicon glyphicon-home"></i>-->
                                          <img src="/img/circulartabs/fitnesspicto_rouge.png" />
                                  </span>
                                </a>
                            </li>

                            <li class="col-sm-2 col-md-2">
                                <a ng-click="tabo='zumba'" data-toggle="tab" title="">
                                    <figcaption class="Legende">GYM DES P'TITS</figcaption>

                                    <span class="round-tabs two">
                                     <!-- <i class="glyphicon glyphicon-user"></i>-->
                                     <img src="/img/circulartabs/gympicto_rouge.png" />
                                 </span>
                                </a>
                            </li>
                            <li class="col-sm-2 col-md-2">
                                <a ng-click="tabo='fitness'" data-toggle="tab" title="">
                                    <figcaption class="Legende">FITNESS</figcaption>
                                    <span class="round-tabs three">
                                      <!-- <i class="glyphicon glyphicon-gift"></i>-->
                                      <img src="/img/circulartabs/pilatespicto_rouge.png" />
                                 </span> </a>
                            </li>

                            <li class="col-sm-2 col-md-2">
                                <a ng-click="tabo='senior'" data-toggle="tab" title="">
                                    <figcaption class="Legende">GYM SENIOR</figcaption>
                                    <span class="round-tabs four">
                                          <!-- <i class="glyphicon glyphicon-comment"></i>-->
                                          <img src="/img/circulartabs/Sport_rouge.png" />
                                     </span>
                                </a>
                            </li>

                            <li class="col-sm-2 col-md-2">
                                <a ng-click="tabo='gaf'" data-toggle="tab" title="">
                                    <figcaption class="Legende">G.A.F</figcaption>
                                    <span class="round-tabs five">
                                          <!-- <i class="glyphicon glyphicon-ok"></i>-->
                                          <img src="/img/circulartabs/zumbapicto_rouge.png" />
                                     </span> </a>
                            </li>

                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade in active"ng-if=tabo==='pilates'>

                            <h3 class="head text-center">Le pilate c'est quoi?<span style="color:#f48260;"></span></h3>
                            <p class="narrow text-center">
                                La méthode Pilates, parfois simplement appelée Pilates est un système d’exercices physiques développé au début du XXème siècle par un passionné de sport et du corps humain Joseph Pilates. Le Pilates est pratiqué au tapis avec ou sans accessoires. Cette
                                méthode a pour objectif le développement des muscles profonds, l’amélioration de la posture, de l’équilibrage musculaire et l’assouplissement articulaire.
                            </p>

                            <p class="text-center">
                                <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                            </p>
                        </div>
                        <div class="tab-pane fade in active" ng-if=tabo==='zumba'>
                            <h3 class="head text-center">La Zumba c'est sympa</h3>
                            <p class="narrow text-center">
                                Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                            </p>

                            <p class="text-center">
                                <a href="" class="btn btn-success btn-outline-rounded green"> create your profile <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                            </p>

                        </div>
                        <div class="tab-pane fade in active" ng-if=tabo==="fitness" id="messages">
                            <h3 class="head text-center">Le Fitness c'est cool</h3>
                            <p class="narrow text-center">
                                Le Fitness ou gymnastique de forme désigne un ensemble d’activités physiques visant à améliorer sa condition physique et son hygiène de vie dans un souci de bien être. Cours proposés à l’Envol d’Aquitaine : Renforcement Musculaire Cardio Fitness Circuit
                                Training
                            </p>

                            <p class="text-center">
                                <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                            </p>
                        </div>
                        <div class="tab-pane fade in active" ng-if=tabo==="senior" id="settings">
                            <h3 class="head text-center">La Gym je dis oui!</h3>
                            <p class="narrow text-center">
                                Ce cours et composé d’exercices de gymnastique adaptés aux séniors. Idéal pour préserver sa santé, renforcer sa masse musculaire, maintenir ou apprendre l’équilibre et conserver une certaine mobilité articulaire. </p>

                            <p class="text-center">
                                <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                            </p>
                        </div>
                        <div class="tab-pane fade in active" ng-if=tabo==="gaf" id="doner">
                            <div class="text-center">
                                <i class="img-intro icon-checkmark-circle"></i>
                            </div>
                            <h3 class="head text-center">Gymnastique Artistique Feminine <span style="color:#f48260;"></span></h3>
                            <p class="narrow text-center">
                                est une discipline olympique qui se pratique sur 4 agrès : saut de cheval, barres asymétriques, poutre et sol (dans l'ordre olympique). La GAF tient autant de l'art que du sport : au-delà de la performance physique, la maîtrise technique, la souplesse
                                et la grâce sont les qualités de la réussite. Les performances comportent également une part de chorégraphie au sol (en musique) et à la poutre. Les gymnastes se doivent aussi d'être rigoureuses et disciplinées
                                pour atteindre l'excellence. </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
