<mininavbar edit-mode="$ctrl.editMode" ng-model="$ctrl.page"></mininavbar>
<section>

    <!--CAROUSEL-->

    <div class="container">
      <carousel edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.carousel" />
      <circulartabs edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.circulartabs"></circulartabs >
    </div>

    <!-- Actualités -->
    <div class="container actu">
        <div class="row concepts">
            <actualitesfb edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.fb" class="col-sm-6" />
            <actualitesblog edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.blog" class="col-sm-6" />
        </div>
    </div>

</section>
