<section>
    <!--CAROUSEL-->
    <br> <br> <br> <br>
    <carousel/>

    <div class="container">
        <div class="row concepts">
            <circulartabs class="col-sm-12" />
        </div>

        <!-- Actualités -->

        <div class="container">
            <div class="row concepts">
                <actualitesfb class="col-sm-6" style="padding-left: 0px;"/>
                <actualitesblog class="col-sm-6" style="padding-left: 0px; padding-right: 30px;"/>
            </div>
        </div>
</section>
