<section id="blog">

    <div class="row post" ng-repeat="post in $ctrl.posts" ng-if="!$ctrl.postSelected && !$ctrl.edit" ng-click="$ctrl.postSelected = post">
        <div class="col-md-1 text-center">
            <h1>{{post.createdAt | date:'dd'}}</h1>
            <h3>{{post.createdAt | date:'MM'}}</h3>
        </div>

        <div class="col-md-11" ng-click="$ctrl.postSelected">
            <h2>{{post.title}}</h2>
            <div ng-bind-html="post.content | limitTo:300"></div>
        </div>
    </div>


    <div class="row selectedPost" ng-if="$ctrl.postSelected && !$ctrl.edit">
        <div class="col-md-12">
            <div class="row">
                <h2 class="col-md-12">{{$ctrl.postSelected.title}}</h2>
            </div>
            <div class="row">
                <cite class="col-md-12">le {{$ctrl.postSelected.createdAt | date}}</cite>
            </div>
            <div class="row">
                <img class="col-md-12" src="{{$ctrl.postSelected.image}}" ng-if="$ctrl.postSelected.image" />
            </div>
            <div class="row">
                <div class="col-md-12" ng-bind-html="$ctrl.postSelected.content"></div>
            </div>
        </div>
    </div>


    <form class="form" ng-if="$ctrl.isAdmin && $ctrl.edit" name="frmPost" ng-submit="$ctrl.save()">
        <div class="form-group">
            <label for="title">Titre:</label>
            <input type="text" class="form-control" id="title" ng-model="$ctrl.postSelected.title" ng-required="true">
        </div>
        <div class="form-group">
            <label for="textContent">Contenu:</label>
            <text-angular class="form-group" id="textContent" ng-model="$ctrl.postSelected.content" ng-required="true"></text-angular>
        </div>
        <div class="input-group">
            <input id="boxDraft" type="checkbox" ng-model="$ctrl.selectedPost.isDraft" />
            <label for="boxDraft">{{'POSTS_DRAFT' | translate}}</label>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="$ctrl.edit = !$ctrl.edit">Annuler</button>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.delete($ctrl.selectedPost)" name="button">Supprimer</button>
            <button type="button" class="btn btn-primary" type="submit" name="button">Sauvegarder</button>
        </div>
    </form>


    <div class="row" ng-if="!$ctrl.edit && $ctrl.isAdmin">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" ng-show="$ctrl.postSelected" ng-click="$ctrl.postSelected = null">Retour</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary pull-right" ng-click="$ctrl.add()">Ecrire un article</button>
            <button type="button" ng-if="$ctrl.postSelected" class="btn btn-primary pull-right" ng-click="$ctrl.edit = !$ctrl.edit">Editer article</button>
        </div>
    </div>


</section>
