<section class="blog">

    <div class="content">
        <div class="container">
            <div class="row">
                <ul class="post-grid" ng-show="!$ctrl.postSelected">
                    <li ng-repeat="post in $ctrl.posts" class="col-s-4" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="$ctrl.postSelected = post">
                        <h3>{{post.title}}</h3>  <cite>Par {{post.author}} le {{post.createdOn | date}}</cite>
                        <p>{{post.body | limitTo:70}}...</p>
                    </li>
                </ul>
                <button type="button" class="btn" ng-show="$ctrl.postSelected" ng-click="$ctrl.postSelected = null">Retour</button>



                <!-- POST -->
                <div class="post" ng-show="$ctrl.postSelected">
                    <div>
                        <h2>{{$ctrl.postSelected.title}}</h2>
                        <img src="{{$ctrl.postSelected.image}}" ng-show="$ctrl.postSelected.image" />
                        <cite>Par {{$ctrl.postSelected.author}} le {{$ctrl.postSelected.createdOn | date}}</cite>
                        <div class="post-body" ng-bind-html="$ctrl.postSelected.body">
                        </div>

                    </div>
                </div>
                <!-- END POST -->
            </div>
        </div>

    </div>
    <div class="post" ng-show="!$ctrl.postSelected" ng-hide="!$ctrl.isEdit">
        <h2>Ajouter un article</h2>

        <form name="postForm" ng-submit=" $ctrl.addPost()" novalidate>
                <h4>Titre</h4>
                <input type="text" ng-model="$ctrl.post.title"/>
                <h4>Article</h4>
                <textarea ng-model="$ctrl.post.body" rows="10"></textarea>
                <label for="">Image</label>
                <input type="text" ng-model="$ctrl.post.image" placeholder="http/..." />
                <label for="">by:</label>
                <input type="text" ng-model="$ctrl.post.author" placeholder="Nom de l'auteur" required/>
                <input type="submit" value="Submit"ng-click="$ctrl.isEdit = false" />
            </form>
          </div>
<button type="button" ng-click="$ctrl.isEdit = !$ctrl.isEdit" ng-show="!$ctrl.postSelected">Nouveau article</button>
</section>
