h4 {
  font-size: 33px;
  margin-bottom: 25px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  margin-right: 10px;
}
.img-responsive {
  display:inline;
}
#blogbox {
    margin-left: 30px;
    box-shadow: 3px 3px 3px 3px #f23232, 3px 3px 3px 3px rgba(255,255,255,.15);
    min-height: 85px;
    width: 500px;
    padding-top: 10px;
    max-height: 625px;
    overflow-y: scroll;
}
