h4 {
  font-size: 33px;
  margin-bottom: 25px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  margin-right: 10px;
}
body.plugin {
    background: rgba(0,0,0,.075);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.28;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    width: 100%;
}
.img-responsive {
  display:inline;
}
.fbbox {
    /*background: #f23232;*/
    box-shadow: 3px 3px 3px 3px #f23232, 3px 3px 3px 3px rgba(255,255,255,.15);
    min-height: 85px;
    width: 500px;
    padding-top: 10px;
    /*border: 2px solid #ff0404;
    /* margin: 0 1% 0 0; */
    color: white;
    /* height: 250px; */
}
