@import 'colors';

#blog {
    h1 {
        cursor: pointer;
    }
.button{
  width: 2px;
}
    ul.post-grid {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            padding: 20px;
            cursor: pointer;
            transition: background linear 0.5s;
            border-bottom: 1px solid #B71C1C;

            &:hover {
                background: #B71C1C;
                color: white;

                h3 {
                    color: white;
                }
            }
        }
    }

    .content {
        width: 100%;
        position: relative;
        padding: 20px 40px;
    }

    h2,
    h3 {
        color: #B71C1C;
    }

    .row.post:hover {
        -webkit-transition: 0.5s linear all;
        transition: 0.5s linear all;
        opacity: 1;
        padding-bottom: 30px;
        background:#B71C1C;


        cite {
            display: inline-block;
            padding: 10px 0;
        }
    }
    #post:hover {
    background-color: red;
}



    .post.ng-hide {
        opacity: 0;
    }

    .post.ng-hide-add,
    .post.ng-hide-remove {
        display: block!important;
    }

    form {
        width: 100%;
    }

    input,
    textarea {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 1.1em;
    }

    .ng-invalid.ng-dirty {
        border-color: red;
    }

    .ng-valid.ng-dirty {
        border-color: green;
    }

    img {
        max-width: 100%;
    }
}
