h4 {
  font-size: 33px;
  margin-bottom: 25px;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  margin-right: 10px;
  color: #f23232;
}
.img-responsive {
  display:inline;
}
.cardplanningjunior {
  background: #380c0c;
  border: 2px solid #380c0c;
  border-radius: 20px;
}
