
@keyframes slidy {
0% { left: 0%; }
100% { left: -400%; }
}

/*body { margin: 0; } */
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure{ 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s linear slidy infinite; 
  -webkit-animation: slidy 30s linear infinite;
  -moz-animation: slidy 30s linear infinite;
  -ms-animation: slidy 30s linear infinite;
  -o-animation: slidy 30s linear infinite;

  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

figure{
	padding-bottom:0px;
	padding-top: 15px;
	padding-left: 0px;
}
