@import 'colors';
/* navbar */
@media screen and (min-width: 0px) and (max-width: 700px) {
  .container.navbar{ position: absolute;
    right: 5px;
    z-index: 4;
  }

}




.navbar {
    /*background-color: $primary;*/
    border: none;
    background: none;
    margin-bottom: 0px;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-nav > li > a {
    color: $white !important;
    line-height: 30px;
}

.navbar-nav > .open > a,
.navbar-nav > li > a:hover {
    background-color: white;
}

.navbar-nav > .selected > a {
    border-bottom: 2px solid $white;
}

.navbar-nav > li > a > img.circle {
    border-radius: 50%;
    height: 30px;
}

.navbar-default .navbar-toggle .icon-bar,
button.navbar-default,
button.navbar-toggle:hover {
    background-color: #1f1717 !important;
    border-color: #333;
}

button.navbar-default > .icon-bar,
button.navbar-toggle:hover > .icon-bar {
    background-color: $primary !important;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $white;


    }
}

.navbar-default .navbar-toggle {
    border-color: #080808;
}
