section {
  background-image: url(/img/fond-planning.jpg);
}

.row {
    /*margin-left: 75px;*/
}

button {
  width: 150px;
    height: 70px;
    font:16px Arial;
    box-shadow:1px 1px 3px #271717;
    color:#fff;
    background:#c3230e;
    border-radius:8px;
}
