#planning {
    @media screen and (min-width: 701px) and (max-width: 1024px) {
        .buttonplanning {
            height: 70px;
        }
    }

    h2.planning {
        color: black;
    }

    .buttonplanning {
        width: 150px;
        font: 16px Arial;
        box-shadow: 1px 1px 3px #271717;
        background-color: #B71C1C;
        color: black;
        border-radius: 8px;
    }

    button:focus,
    button:hover {
        color: white;
    }
    text-align: center;
}
