.planning {
  text-align: center;
}

.boutonpla  {
  background-color: #c20000;
  font-size: 1em;
  font-weight: 700;
  padding: 0.75em 1.5em;
  position: absolute;
  bottom: 1.25em;
  left: 50%;

    margin-left: -15%;
}

a.boutonpla:hover {
   color: #ffffff !important;
       text-decoration: none;

 }

 a.boutonpla {
    color: #000000 !important;

  }

  a:focus {
    color: #ffffff !important;
    text-decoration: none;
  }
h2.planning {
  color: black;
}

button {
  width: 150px;
    height: 70px;
    font:16px Arial;
    box-shadow:1px 1px 3px #271717;
    color:#fff;
    background:#c3230e;
    border-radius:8px;
}
