#planning {
    h2.planning {
        color: black;
    }

    button {
        width: 150px;
        height: 70px;
        font: 16px Arial;
        box-shadow: 1px 1px 3px #271717;
        background-color: #B71C1C;
        color: black;
        border-radius: 8px;
    }

    button:hover, button:focus {
        color: white;
    }
    text-align: center;
}
